
        <%= form_for @cohort do |f| %>
            <ul>
    
            <li><%= f.label :name %></li>
            <li><%= f.text_field :name, value: @cohort.name %></li>
    
            <li><%= f.label :start_date %></li>
            <li><%= f.text_field :start_date, value: @cohort.start_date %></li>
    
            <li><%= f.label :end_date %></li>
            <li><%= f.text_field :end_date, value: @cohort.end_date %></li>
            
            <li><%= f.label :instructor_name %></li>
            <li><%= f.text_field :instructor_name, value: @cohort.instructor_name %></li>
    
            <li><%= f.label :course_id %></li>
            <li><%= f.number_field :course_id, value: @cohort.course_id %></li>
                
            <%= f.submit %>
            <% end %>
            </ul>
    
    
    <%= link_to 'Delete', cohort_path(@cohort), remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>