
<table class="table table-striped">
<thead class="thead">
  <tr>
    <form>
        <th scope="col">Cohort Name</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Instructor Name</th>
        <th scope="col">Course ID</th>
    </form>
  </tr>
</thead>

<tbody>
  <tr>
    <form>
    <% @cohort.each do |cohort| %>
        <td><a class="nav-link" href="/cohorts/<%= cohort.id %>"><%= cohort.name %></a></td>
        <td><%= cohort.start_date %></td>
        <td><%= cohort.end_date %></td>
        <td><%= cohort.instructor_name %></td>
        <td><%= cohort.course_id %></td>

        <td><%= link_to "Edit", edit_cohort_path(cohort) %></td>
        
        <td id="cohort-<%= cohort.id %>"><%= link_to "Delete", cohort_path(cohort), remote: true, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>  
      <% end %>
    </form>
  </tbody>
</table>

<td><%= link_to "Create", new_cohort_path %></td>