
<table class="table table-striped">
<thead class="thead-dark">
  <tr>
    <form>
        <th scope="col">Cohort Name:</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Instructor Name</th>
        <th scope="col">Course id</th>
    </form>
  </tr>
</thead>

<tbody>
  <tr>
    <form>
    <% @cohort.each do |cohort| %>
    <div>
        <td><%= cohort.name %></td>
        <td><%= cohort.start_date %></td>
        <td><%= cohort.end_date %></td>
        <td><%= cohort.instructor_name %></td>
        <td><%= cohort.course_id %></td>
        </tr>  
        <% end %>
        </form>
    </tbody>
  </table>

  