
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
        <%= form_for @cohort do |f| %>
            <td><%= @cohort.name %></td>
            <td><%= @cohort.start_date %></td>
            <td><%= @cohort.end_date %></td>
            <td><%= @cohort.instructor_name %></td>
            <td><%= @cohort.course_id %></td
            <%= f.submit %>
        <% end %>
        </tr>
    </thead>
</table>
        