
<%= form_for @admin, remote: true do |f| %>
    <div class="field">
      <%= f.label :user_name %>
      <%= f.text_field :user_name, id: :admin_user_name %>
    </div>
  
    <div class="field">
      <%= f.label :password %>
      <%= f.check_box :password, id: :admin_password %>
    </div>
  
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>