
    <p id="notice"><%= notice %></p>

    <p><strong>User Name:</strong><%= @admin.user_name %></p>

    <p><strong>Password:</strong><%= @admin.password %></p>

    <%= link_to 'Edit', edit_admin_path(@admin) %> |
    <%= link_to 'Back', admin_path %>


