
<h1>Welcome to Dash Academy</h1>

<% @student.each do |student| %>
    <div>
        <h3>First Name :<%= student.first_name %></h3>
        <h3>Last Name: <%= student.last_name %></h3>
        <h3>Age: <%= student.age %></h3>
        <h3>Highest Education: <%= student.highest_education %></h3>
        <h3>Cohort ID: <%= student.cohort_id %></h3>
    </div>
<% end %>


<br>
# <%= render 'application/header', locals: {student: @studentdeg } %>