

<%= form_for @student do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    <%= f.label :age %>
    <%= f.number_field :age %>
    <%= f.label :highest_education %>
    <%= f.text_field :highest_education %>
    <%= f.label :cohort_id %>
    <%= f.number_field :cohort_id %>
    <%= f.submit %>
<% end %>


<%= form_for :article do |f| %>
    <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </p>
    <p>
        <%= f.label :text %><br>
        <%= f.text_area :text %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>