
<table class="table table-striped">
<thead class="thead-dark">
  <tr>
    <%= form_for @student, remote: true do |f| %>
      <td><%= f.label :first_name %>
      <%= f.text_field :first_name %></td>

      <td><%= f.label :last_name %>
      <%= f.text_field :last_name %></td>

      <td><%= f.label :age %>
      <%= f.number_field :age %></td>

      <td><%= f.label :highest_education %>
      <%= f.text_field :highest_education %></td>
      
      <td><%= f.label :cohort_id %>
      <%= f.number_field :cohort_id %></td>

      <%= f.submit %>
    <% end %>
  </tr>  

</thead>
</table>
