

<table class="table table-striped">
<thead class="thead-dark">
    <tr>
    <%= form_for @cohort_student, remote: true do |f| %>
        <td><%= f.label :cohort_id %>
        <%= f.number_field :cohort_id %></td>

        <td><%= f.label :student_id %>
        <%= f.number_field :student_id %></td>
        
        <%= f.submit %>
    <% end %>
    </tr>
</thead>
</table>