

<%= form_for @instructor do |f| %>
    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, id: :instructor_first_name %>
    </div>
  
    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, id: :instrctor_last_name %>
    </div>

    <div class="field">
        <%= f.label :age %>
        <%= f.number_field :age, id: :instructor_age %>
    </div>

    <div class="field">
        <%= f.label :cohort_id %>
        <%= f.number_field :salary, id: :instructor_salary %>
    </div>

    <div class="field">
      <%= f.label :highest_education %>
      <%= f.text_field :highest_education, id: :instructor_highest_education %>
    </div>

    <div class="field">
        <%= f.label :cohort_id %>
        <%= f.number_field :cohort_id, id: :instructor_cohort_id %>
    </div>
  
    <div class="actions">
    <%= f.submit %>
    </div>
<% end %>