
<table class="table table-striped">
<thead class="thead-dark">
  <tr>
    <%= form_for @instructor do |f| %>
      <td><%= @instructor.first_name %></td>
      <td><%= @instructor.last_name %></td>
      <td><%= @instructor.age %></td>
      <td><%= @instructor.salary %></td>
      <td><%= @instructor.highest_education %></td>
      <td><%= @instructor.cohort_id %></td>
      <%= f.submit %>
    <% end %>
    </tr>
  </thead>
</table>
