<%= render 'application/header', locals: {instructor: @instructorabc } %>


<% @instructor.each do |instructor| %>
    <div>
        <h3>First Name: <%= instructor.first_name %></h3>
        <h3>Last Name: <%= instructor.last_name %></h3>
        <h3>Age: <%= instructor.age %></h3>
        <h3>Salary : $<%= instructor.salary %></h3>
        <h3>Highest Education: <%= instructor.highest_education %></h3>
    </div>
<% end %>


