
        <%= form_for @course do |f| %>
            <ul>
            
            <li><%= f.label :name %></li>
            <li><%= f.text_field :name, value: @course.name %></li>

            <li><%= f.label :total_in_class_hours %></li>
            <li><%= f.number_field :total_in_class_hours, value: @course.total_in_class_hours %></li>
            
            <%= f.submit %>
        <% end %>
    </ul>
    

<%= link_to 'Delete', course_path(@course), remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>