
<table class="table table-striped">
<thead class="thead">
  <tr>
    <form>
        <th scope="col">Course Name:</th>
        <th scope="col">Number of Hours</th>
    </form>
  </tr>
</thead>

<tbody>
  <tr>
  <form>
    <% @course.each do |course| %>
        <td><a class="nav-link" href="/courses/<%= course.id %>"><%= course.name %></a></td>
        
        <td><%= course.total_in_class_hours %></td>
      
        <td><%= link_to "Edit", edit_course_path(course) %></td>
        <td><%= link_to "Create", edit_course_path(course) %></td>
        <td id="course-<%= course.id %>"><%= link_to "Delete", course_path(course), remote: true, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </form>
</tbody>
</table>    

<td><%= link_to "Create", new_course_path %></td>