

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
        <%= form_for @course do |f| %>
            <td><%= f.label :name %>
            <%= f.text_field :name %></td>
            <td><%= f.label :total_in_class_hours %>
            <%= f.number_field :total_in_class_hours %></td>
            <%= f.submit %>
        <% end %>
    </thead>
</table>
