<!DOCTYPE html>
<html>
  <head>
    <title>Pamspanel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
   
		<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <link rel="stylesheet" href="/app/assets">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <div class="logo-container">
		  <img class="logo-pix" src="/app/assets/logo.png" id="dashlogo.png">
    </div>
  
  </head>

  <body>

    <nav class="navbar navbar-expand navbar-dark bg-dark">	
		<div class="collapse navbar-collapse" id="nav1">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/admin">Admin</a>
          <a class="nav-link" href="/user">User</a>
				</li>  
			</ul>

		<form class="form-inline my-2 my-md-0">
			<input class="form-control" type="text" placeholder="">
			<a class="nav-link" href="/search">Search</a>

		</form>	
		</div>
  </nav>
  
    <%= yield %>
    
  </body>
  
  <div>
      <%= render 'application/footer' %>
    </div>

	</header>
	</body>
</html>


<%= yield %>


<footer class="page-footer">
	<div class="container">
	<div id="copyright" class="col-left">© Copyright Dash Academy 2018. All rights reserved.</div>
		<div class="row">
		<div class="mediainfo container">
			<a href="https://www.facebook.com/" class="fa fa-facebook"></a>
			<a href="https://twitter.com/" class="fa fa-twitter"></a>
			<a href="https://www.instagram.com/" class="fa fa-instagram"></a>  
		</div>
	</div>
</footer>


